/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */


div.one{
    display: flex;
    background-color: green;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-end;
    align-content: flex-end;
}




